.about-img{
    position: relative;
}
.about-name > h3{
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0;
    letter-spacing: 0.6px;
    font-weight: 400;
}
.about-img img{
    width: 100%;
    padding: 0;
    margin: 0;
}
.profile-picture{
    position: relative;
    overflow: hidden;
}
.profile-picture img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}
.profile-picture img:hover{
    transform: scale(1.1);
}
.profile-data{
    max-width: 650px !important;
    margin: 0 auto;
    padding: 40px 40px 20px 40px !important;
    color: #4b4949;
    
}
.artist-head-img{
    width: 50%;
}
.profile-data > h5{
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
    color: #4b4949;
    font-weight: 700;
    /* letter-spacing: 1.8px; */
}
.profile-data > h5:hover{
    color: #07b3cc;
    letter-spacing: 1px;
}
.profile-data > p{

}